//fonts
$font-primary: "Open Sans", sans-serif;

//colors
$white: #ffffff;
$blue: #1c243e;
$dark-blue: #050d26;
$gray: #3d455c;
$light-gray: #f5f5f5;
$dark-gray: #212529;
$black: #00071e;
$orange: #f89b27;
